.Box{ text-align: center;
            text-transform: uppercase;
            width: 50px;
            padding: 50px;
            margin: 50px;
            color:blue;
         }
        #CSE-13{
            text-align:left;
            text-transform: capitalize;
            width:60px;
            padding: 50px;
            margin: 50px;
            color:blueviolet;

        }